service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      function is_myself() {
        return (request.auth.uid == user);
      }
      allow create, read, update, delete: if is_myself();
      match /videos/{videoId} {
				allow create,read, update, delete, list : if is_myself();       
      }
    }
    match /psa/{id} {
      allow create,read, update, delete : if true;
    }
    match /videolibrary/{libraryId} {
      allow create,read, update, delete : if true;
    }
    match /videochallenge/{videochallengeId} {
      allow create,read, update, delete : if true;
    }
    match /dailyfeaturevideohomepage/{id} {
      allow create,read, update, delete : if true;
    }
     match /VCindividualpagehandwashings/{id} {
      allow create,read, update, delete : if true;
    }
    
 
  }
}