<div class="content">

  <div *ngIf="!instruction" class="psa-list mb-20 p-10">
    <label>{{ "psa_list.title" | translate }}</label>
    <ul class="no-margin">
      <li (click)="choose(item.id)" *ngFor="let item of psa" class="white-button">{{item.data.name}}</li>
    </ul>
  </div>
  <div *ngIf="instruction" class="psa-list mb-20 p-10">
    <label>{{ "psa_list.instruction" | translate }}</label>
    <h4>{{ "psa_list.guide" | translate }}</h4>
    <video autoplay controls [src]="src" style="width: 100%;height:auto;" class="video"></video>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>