<div class="content">
   
  <div class="psa-list mb-20 p-10">
      <label>Choose You PSA</label>
      <ul class="no-margin" >
        <li (click)="choose(item.id)"*ngFor="let item of psa" class="grey-bg">{{item.data.name}}</li> 
      </ul>
    </div>
</div>

 <div class="col-lg-4 col-md-6 m-auto" style="text-align: -webkit-center;">
        <div class="card card-login card-white p-20">
        <h4 class="main-title">Why it's Important?</h4>
        <div class="row d-flex">
        	<div class="col-5 round-grey-border">
        		<h5 class="yellow-title">50%</h5>
        		<p class="dark-grey fs-13">Sed ut perspiciatis unde omnis iste natus error.</p>
        		<span class="yellow-bg">
        			<img src="assets/img/user.png" width="20" height="20"> 
        		</span> 
        	</div>
        	<div class="col-5 round-grey-border">
        		<h5 class="yellow-title">1 in 18</h5>
        		<p class="dark-grey fs-13">Sed ut perspiciatis unde omnis iste natus error</p>
        		<span class="yellow-bg">
        			<img src="assets/img/user.png" width="20" height="20"> 
        		</span> 
        	</div>
        </div>        	
        <p class="pt-20 dark-grey">Play your pat in tackling the COVID-19 outbreak.<br/>Signup for free Now.</p>
        <button type="button" class="signup-button" expand="block">
              <span>SIGN UP IN EMAIL</span>             
          </button>	
         <h4 class="mt-20 main-title">Login Using</h4>
        <div class="row">	
        <div class="col-3">
          <button type="button" class="google-button">
              <img src="assets/img/google.png" width="20" height="20">              
          </button>
          <p class="pt-10 dark-grey fs-12">Google</p>
      </div>
      
      <div class="col-3">
          <button class="twitter-button" type="button">
              <img src="assets/img/twitter.png" width="20" height="20"> </button>
               <p class="pt-10 dark-grey fs-12">Twitter</p>
           </div>

        <div class="col-3">
          <button class="email-button" type="button">
              <img src="assets/img/email.png" width="20" height="20"></button>
              <p class="pt-10 dark-grey fs-12">Email</p>
          </div>
        
        <div class="col-3"> 
          <button class="phone-button" type="button">
              <img src="assets/img/phone.png" width="20" height="20"></button>
              <p class="pt-10 dark-grey fs-12">Phone No.</p>
        </div>

       <div class="col-3">
          <button class="github-button" type="button">
              <img src="assets/img/github.png" width="20" height="20"></button>
              <p class="pt-10 dark-grey fs-12">Github</p>
          </div>
     
      <div class="col-3">
          <button class="apple-button" type="button">
              <img src="assets/img/apple.png" width="20" height="20"></button>
              <p class="pt-10 dark-grey fs-12">Apple</p>
          </div>

           <div class="col-3">
        	<button class="facebook-button" type="button">
                <img src="assets/img/facebook.png" width="20" height="20"></button>
                 <p class="pt-10 dark-grey fs-12">Facebook</p>
             </div>
        
      <div class="col-3">
          <button class="email-button" type="button">
              <img src="assets/img/email.png" width="20" height="20"></button>  
              <p class="pt-10 dark-grey fs-12">Email</p>
          </div>

        </div>


      </div>
  </div>



<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

