

.no-margin{
  margin: 0;
  padding: 0px;
}
.grey-bg{
  display: inline-block;
    background-color: #636363;
    padding: 6px 15px;
    margin: 6px;
}
.p-10{padding:10px;}
.psa-list{border:solid 1px #fff; color: #fff;}