.navbar-toggler{
    background:black !important;
}
.caret{
    color: black !important;
}
.user-display{
	display:inline-block;
}
.position-fixed{position: fixed;}
@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
.user-display{display:none;}
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
.user-display{display:none;}
}
.black-button{background-color:#010101; color:#fff;}