.navbar-toggler{
    background:black !important;
}
.caret{
    color: black !important;
}
.user-display{
	display:inline-block;
}
.d-flex{align-items: center; display: flex;}
.position-fixed{position: fixed;}
@media only screen and (min-device-width: 480px) and (max-device-width: 767px) {
.user-display{display:none;}
.navbar-nav{float: left;}
.navbar.bg-white:not(.navbar-transparent) .navbar-toggler-bar{background-color: #ffffff;}
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
.user-display{display:none;}
.navbar-nav{float: left;}
.navbar.bg-white:not(.navbar-transparent) .navbar-toggler-bar{background-color: #ffffff;}
}

@media only screen and (min-width: 768px) {
.navbar-collapse{order: 2;}
.logo-order{order: 1;}
.pl-20{padding-left: 20px;}
}
.black-button{background-color:#314DBD; color:#fff;
  
}
  