
<div class="full-page login-page ">
  <div class="content position-center">
    <div class="container">
      <div class="col-lg-4 col-md-6 m-auto" style="text-align: -webkit-center;">
        <div class="card card-login card-white">
          <div class="card-header text-center">
           <img alt="Login Logo" src="assets/img/login-logo.png">
            <h3 class="card-title" style="font-weight: 500;">{{ "phone_auth.title" | translate }} </h3>
          </div>
          <div *ngIf="error" class="alert alert-danger" role="alert">
            <span>{{error}}</span>
          </div>
          <div class="card-body">
            <div class="input-group">
              <div class="input-item" style="width: 100%;">
                <p style="color:#141414;text-align: left;">{{ "phone_auth.phone" | translate }}</p>
                <input class="h-45" style="width: 100%;" type="tel" ng2TelInput [(ngModel)]="phone" placeholder='{{ "phone_auth.enter_phone" | translate }}'
                  (countryChange)="onCountryChange($event)" (ng2TelOutput)="getNumber($event)"
                  [ng2TelInputOptions]="{initialCountry: 'in'}" />

              </div>
            </div>
          </div>
          <div class="card-footer">
            <button [disabled]="!phone" (click)="signIn()" class="btn btn-block" type="submit">
              {{ "phone_auth.send_otp" | translate }}</button>
              <div id="recaptcha-container"></div>
            <div class="pull-right">
              <h6>
                <a [routerLink]="['/login']" class="link footer-link" style="font-weight: 600;"> {{ "phone_auth.back" | translate }}
                </a>
              </h6>
            </div>
          </div>


        </div>


      </div>

    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<!--Sweet Alerts-->
<swal
  #swapOtp
  [type]="swalType"
  [showCancelButton]="false"
  [showCloseButton]="false"
  [showConfirmButton]="false"
  [allowOutsideClick]="false"
  [allowEscapeKey]="false"
  (confirm)="getOtp($event)"
  title=""
  text=""
  confirmButtonText=""
  cancelButtonText=""
  html=""
  input="text"
  inputOptions=""
  [inputValidator]=""
>
</swal>
