.card-body
{
    padding-left:10px;
    padding-right: 10px; 
}
.iti {
	.iti--allow-dropdown {
    position: relative;
    display: inline-block;
    width:100% !important;
}
}
input{width:100% !important;font-size: 12px}