.card-body
{
    padding-left:10px;
    padding-right: 10px; 
}
.iti {
	.iti--allow-dropdown {
    position: relative;
    display: inline-block;
    width:100% !important;
}
}
input{width:100% !important;font-size: 12px}
.h-45{height: 45px;}
.btn{background-color: #5274E6; background-image: linear-gradient(to bottom left, #5274E6, #4f73ea, #5274E6);}
.btn:hover{background-color: #5274E6; background-image: linear-gradient(to bottom left, #5274E6, #4f73ea, #5274E6);}
.position-center{height: 100vh; align-items: center; justify-content: center; display: flex;}