.card-body
{
    padding-left:10px;
    padding-right: 10px; 
}
.iti {
	.iti--allow-dropdown {
    position: relative;
    display: inline-block;
    width:100% !important;
}
}
input{width:100% !important;font-size: 12px}
.h-45{height: 45px;}
.btn{background-color: #314DBD;background-image: none;border-radius: 19px}
.btn:hover{background-color: #314DBD;background-image: none;}
.position-center{height: 90vh; align-items: center; justify-content: center; display: flex;}