<div class="full-page login-page ">
  <div class="content position-center">
    <div class="container"><br/>
      <div class="col-lg-4 col-md-6 m-auto ">
        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div class="card card-login card-white">
            <div class="card-header text-center">
              <img alt="Login Logo" src="assets/img/login-logo.png">
             <h3 class="card-title" style="font-weight:600;">{{ "forgot.title" | translate }}</h3>
            </div>
            <div *ngIf="userMessage.message"
              [class]="userMessage.success ? 'alert alert-success' : 'alert alert-danger'" role="alert">
              <span>{{userMessage.message}}</span></div>
            <div class="card-body px-10">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="tim-icons icon-email-85"></i></div>
                </div><input formControlName="email" class="form-control" placeholder='{{ "forgot.email" | translate }}' type="text">
              </div>
              <small class="text-danger"
                *ngIf="form.get('email').touched && form.get('email').hasError('required')">{{ "forgot.email_required" | translate }}</small>
              <small class="text-danger"
                *ngIf="form.get('email').touched && form.get('email').hasError('pattern')">{{ "forgot.email_invalid" | translate }}</small>
            </div>
            <div class="card-footer"> <button [disabled]="!form.valid" class="btn btn-block" type="submit">{{ "forgot.send" | translate }}</button>
            </div>
            <div class="pull-left">
              <!-- <h6><a  [routerLink]="['/login']" class="link footer-link"> Back
                </a></h6> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>