.btn{background-color: #5274E6; background-image: linear-gradient(to bottom left, #5274E6, #4f73ea, #5274E6);}
.btn:hover{background-color: #5274E6; background-image: linear-gradient(to bottom left, #5274E6, #4f73ea, #5274E6);}
.px-10{padding:0px 10px;}
.position-center{height: 90vh; align-items: center; justify-content: center; display: flex;}