.card-body
{
    padding-left:10px;
    padding-right: 10px; 
}
.facebook-buttom{  font-weight:500; font-size:15px; font-family:Montserrat; height:55px;--border-width: 0px;--border-style: solid;--border-color: ;box-shadow: 0px 0px 0px 0px; --border-radius: 8px; margin: 20px 0px 0px 0px;  --padding-start: var(--ion-padding, 0px); --padding-end: var(--ion-padding, 0px); --padding-top: var(--ion-padding, 0px); --padding-bottom: var(--ion-padding, 0px); letter-spacing:0px;--color:#ffffff;--background: #4B4F8E; --background-activated: #4B4F8E;--background-focused: #4B4F8E;--background-hover: #4B4F8E;}

.google-buttom{  font-weight:500; font-size:15px; font-family:Montserrat; height:55px;--border-width: 0px;--border-style: solid;--border-color: ;box-shadow: 0px 0px 0px 0px; --border-radius: 8px; margin: 20px 0px 0px 0px;  --padding-start: var(--ion-padding, 0px); --padding-end: var(--ion-padding, 0px); --padding-top: var(--ion-padding, 0px); --padding-bottom: var(--ion-padding, 0px); letter-spacing:0px;--color:#ffffff;--background: #D84B36; --background-activated: #D84B36;--background-focused: #D84B36;--background-hover: #D84B36;}
.text-center{text-align: center;}
h2{font-weight: 600;}
.btn{background-color: #5274E6; background-image: linear-gradient(to bottom left, #5274E6, #4f73ea, #5274E6);}
.btn:hover{background-color: #5274E6; background-image: linear-gradient(to bottom left, #5274E6, #4f73ea, #5274E6);}
.position-center{height: 100vh; align-items: center; justify-content: center; display: flex;}