<div class="content">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <div class="container" style="padding:0px;">

    <div class="col-md-12">
      <div class="card" style="background-color:#fff;">
        <!-- <div class="card-header"></div> -->
        <div class="card-body">
          <div class=" col-md-12">
            <div *ngIf="!isAnonymous" class="">
              <div class="card-header" style="text-align: center;">
                <h5 class="title" style="color:#141414;">Edit Profile</h5>
              </div>
              <div style="background-color:#fff;">
                <div style="text-align: center;">
                  <div class="fileinput text-center" style="position: relative;">
                    <input accept="image/*" (change)="fileInput($event)" id="file" style="display:none" type="file">
                    <div class="thumbnail img-circle">
                      <img src="{{user.image}}">
                      <button (click)="renoveImage();" *ngIf="user.isProfile" class="btn btn-outline btn-round btn-success1" type="button" shape="round" style="position: absolute; top: 0; right: 0;">
                        <img src="assets/img/close.png" width="12" height="12">
                      </button>
                    </div>

                  </div>
                  <div>
                    <button class="btn-round blue-button p-10 ng-star-inserted" (click)="addPhoto()"> Add Photo </button>
                  </div>
                </div>
              </div>
              <div class="" style="background-color:#fff;">

                <label> Email </label>
                <div class=" form-group">
                  <input (ngModelChange)="user.email = $event" (input)="validateEmail($event)" [ngModel]="user.email" class="form-control" type="text">
                </div>

                <label> User Name </label>
                <div class=" form-group">
                  <input (ngModelChange)="user.userName = $event" [ngModel]="user.userName" class="form-control" type="text">
                </div>

                <label> Age </label>
                <div class=" form-group">
                  <input (ngModelChange)="user.age = $event" (input)="validateAge($event)" [ngModel]="user.age" min="0" class="form-control" type="number">
                </div>

                <div class=" row">
                  <label class=" col-sm-auto col-form-label"> Gender </label>
                  <div radio-group class=" col-sm-10 checkbox-radios" style="display: flex;">
                    <div class=" form-check form-check-radio">
                      <label class=" form-check-label">
                        <input class=" form-check-input" type="radio" (ngModelChange)="user.gender = $event" [ngModel]="user.gender"
                          name="gender" value="male">
                        <span class=" form-check-sign"></span>
                        Male </label>
                    </div>
                    <div class="form-check form-check-radio" style="margin-left:30px;">
                      <label class=" form-check-label">
                        <input class=" form-check-input" type="radio" (ngModelChange)="user.gender = $event" [ngModel]="user.gender"
                          name="gender" value="female">
                        <span class=" form-check-sign"></span>
                        Female</label>
                    </div>
                  </div>
                </div>

              </div>
              <div class="" style="text-align: center;">
                <button [disabled]="!user.email || !user.userName ||  !user.age || !user.validEmail" (click)="update()" class=" btn btn-fill blue-button p-10" type="submit">
                  Update </button>
              </div>
            </div>
            <div *ngIf="isAnonymous" style="border-top: 0.0625rem solid rgba(34, 42, 66, 0.05);">
              <p style="color:#000"> Log into the app to continue</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>