.message{
    padding: 20px;
    color: #FFF;
}
.logout{
    padding: 1.25rem 1.5rem;
    border-top: 0.0625rem solid rgba(34, 42, 66, 0.05);    
}
.btn{background-color: #314DBD;background-image: none;border-radius: 19px}
.btn:hover{background-color: #314DBD;background-image: none;}