.message{
    padding: 20px;
    color: #FFF;
}
.logout{
    padding: 1.25rem 1.5rem;
    /* background-color: #f6f9fc; */
    border-top: 0.0625rem solid rgba(34, 42, 66, 0.05);    
}
.btn{background-color: #5274E6; background-image: linear-gradient(to bottom left, #5274E6, #4f73ea, #5274E6);}
.btn:hover{background-color: #5274E6; background-image: linear-gradient(to bottom left, #5274E6, #4f73ea, #5274E6);}