$block: "psa-video-card";

.#{$block} {
  min-width: 320px;
  margin-top: 1rem;
  text-align: center;
  width: 30%;
}

.#{$block}__name {
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}

.#{$block}__download {
  margin-top: 1rem;
}

.#{$block}__share {
  margin-top: 1rem;
  width: 100%;
}

.#{$block}__date {
  color: white;
}

.#{$block}__download-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}