.blue-button{
	    background-color: #5274E6;
    margin: 0px 10px;
    border-width: 2px;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.4285rem;
    cursor: pointer;
    box-shadow: none;
    color: #ffffff;
    padding: 7px;
}
