.blue-button{
	background-color: #314DBD;
    margin: 0px 10px;
    border-width: 2px;
    outline:none;    
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 19px;
    cursor: pointer;
    box-shadow: none;
    color: #ffffff;
    padding: 7px;
    
}
.mx-10{margin:0px 10px;}
