<div class="content" *ngIf="!videoContentpage">
<div class="row">
  <div class="col-xs-12 div-center">
    
    <video [hidden]="isPlaying" #video class="video"></video>
    <video [hidden]="!isPlaying" muted controls #videoPlay controls class="video"></video>
  </div>
  <div class="timer" *ngIf="timecount !=0">{{timecount}}</div>
</div>
<div class="row">
  <div class="col-xs-12 div-center">
    <div *ngIf="!recording">
      <p>Click Here to start your recording </p>
      <img src="assets/img/recording-play.png" (click)="startRecording()" />
      <img style="padding-left: 37px;" *ngIf="upload" src="assets/img/upload.png" (click)="uploadvideo()" />
    </div>
    <div *ngIf="recording">
      <ng-marquee speed="slow">
        <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
      </ng-marquee>
        <p>Click Here to stop your recording </p>
        <img  src="assets/img/recording-pause.png" (click)="stopRecording()" /> 
            
      </div>
      <div *ngIf="progress" >
        <progress-bar [progress]="uploadProgress" [color]="'#70E083'">
      </progress-bar>
    <h4>Video Uploading...</h4></div>
  </div>
</div>
</div>
<div *ngIf="videoContentpage">
  <div class="row">
    <div class="col-xs-12 div-center">
      <video [hidden]="isPlaying" #video class="video"></video>
      <video [hidden]="!isPlaying" muted controls #videoPlay controls class="video"></video>
    </div>
    <div class="timer" *ngIf="timecount !=0">{{timecount}}</div>
  </div>
  <div class="row">
    <div class="col-xs-12 div-center">
      <div *ngIf="!recording && !progress">
        <p>Click Here to start your recording </p>
        <img src="assets/img/recording-play.png" (click)="startRecording()" />
        <img style="padding-left: 37px;" *ngIf="upload" src="assets/img/upload.png" (click)="uploadvideo()" />
      </div>
      <div *ngIf="recording">
          <p>Click Here to stop your recording </p>
          <img  src="assets/img/recording-pause.png" (click)="stopRecording()" /> 
              
        </div>
        <div *ngIf="progress" style="    padding-left: 10%; padding-right: 10%;">
          <progress-bar [progress]="uploadProgress" [color]="'#70E083'">
        </progress-bar>
      <h4>Video Uploading...</h4></div>
    </div>
  </div>
</div>

<ng-template #marqueeContent>
  <mark>{{markText}}</mark>
  <mark>it is important for us to stay safe, stay clean and </mark>
</ng-template>