video {
  height: 440px;
  max-height: 450px;
  width: 85%;
  padding: 10px;
  text-align: center;
  border: 1px solid white;

}

.row {
  margin-bottom: 20px;
}
.timer{
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #FFFF;
  align-content: center;
}
.div-center{
  text-align: center;
  width: 100%;
}
#toast-container > .toast-success {
  background-image: none;
  background-color: #e9e9e9;
  color: green;
}
#toast-container > .toast-error {
  background-image: none;
  background-color: #e9e9e9;
  color: red;
}
.markerText{
  color: white;
  font-size: 16px;
  position: absolute;
  right: 40%;
  bottom: 205px;
  z-index: 999;
  margin: 0 auto; 
  font-weight: 600;
  background: rgba(107, 107, 107, 0.47);
  position: absolute;  
  width: 50%;
  height: 150px;
  text-align: center;
  padding: 5px;
}

.red-bg{
  background-color: #F03032;
    color: #fff;
    padding: 3px 12px;
    margin-bottom: 8px;
    position: absolute;
    top: 10px;
    width: 28%;
    left: 50%;
    transform: translate(-50%, 0);
}
.icon-position{
  position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translate(-50%, 0);
}