<div class="content" >
  <div class="row">
    <div class="col-xs-12 div-center">
      <!-- <ng-marquee *ngIf="recording" duration="50s">
        <ng-container *ngTemplateOutlet="marqueeContent"></ng-container>
      </ng-marquee> -->
      <div style="position: relative;">
        <div *ngIf="markText"class="markerText">{{markText}}</div>   
      <video [hidden]="isPlaying" #video class="video"></video>
    </div>
    <video [hidden]="!isPlaying" muted controls #videoPlay controls class="video"></video>
   
  </div>
  </div>
  <div class="row">
    <div class="col-xs-12 div-center">
      <div *ngIf="!recording">

        <img src="assets/img/recording-play.png" (click)="startRecording()" />
        <img style="padding-left: 37px;" *ngIf="upload" src="assets/img/upload.png" (click)="uploadvideo()" />
      </div>
      <div *ngIf="recording">
        <div class="timer" *ngIf="timecount !=0">{{timecount}}</div>
   
        <img src="assets/img/recording-pause.png" (click)="stopRecording()" />

      </div>
      <div *ngIf="progress">
        <progress-bar [progress]="uploadProgress" [color]="'#70E083'">
        </progress-bar>
        <h4>Video Uploading...</h4>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!loginUser"  style="padding: 1.25rem 1.5rem;
border-top: 0.0625rem solid rgba(34, 42, 66, 0.05);">
<button  (click)="goToLogin()" class="btn btn-block" type="submit">Login</button>
</div>