<div class="logo">
  <a class="logo-normal  main-logo">
    {{"app_name" | translate}} </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/home">
        <div class="green-bg"><img class="tim-icons" src="assets/img/education-whte.svg" width="24" height="24" /></div>
        <p>{{ "sidebar.video" | translate }} </p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/psa-list">
        <div class="pink-bg"><img class="tim-icons" src="assets/img/video-white.svg" width="24" height="24" /></div>
        <p>{{ "sidebar.recorder" | translate }} </p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/profile">
        <div class="blue-bg"><img class="tim-icons" src="assets/img/profile-white.svg" width="24" height="24" /></div>
        <p>{{ "sidebar.profile" | translate }} </p>
      </a>
    </li>
  </ul>
</div>