.sidebar .nav p, .off-canvas-sidebar .nav p {
    margin: 0;
    line-height: 30px;
    position: relative;
    display: inline-block !important;
    height: auto;
    white-space: nowrap;
    padding-left: 10px !important;
}