*{font-family: 'Montserrat', sans-serif;}
button {text-align: center; padding: 6px; border-width: 0px; border-style: none; border-color: transparent; border-image: initial;
font-weight: 500; font-size: 15px; font-family: Montserrat; height: 55px; border-radius: 50%; letter-spacing: 0px;
width: 55px; box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px; margin-top: 15px;}

.facebook-button{color: #fff; background: #3A5997;}
.google-button{ color: #141414; background: #ffffff;}
.twitter-button{color: #fff; background: #56ABEE;}
.email-button{ color: #fff; background: #DB4437;}
.phone-button{color: #fff; background: #09BD7E;}
.github-button{color: #fff; background: #333333;}
.apple-button{color: #fff; background: #333333;}
.title-normal{font-weight: 100}
.signup-button{width: auto;
  text-align: center;
  background-color: #314DBD;
  height: 45px;
  padding: 10px;
  border-radius: 50px;
  color: #fff;}
.mt-20{margin-top:20px;}
.pl-20{padding-left:20px;}
.p-20{padding:10px 20px;}
.pt-10{padding-top:10px;}
.pt-20{padding-top:20px;}
.dark-grey{color:#141414;}
.main-title{color:#141414;font-weight: 600;}
.yellow-title{color:#FBD54B;font-size: 22px; font-weight: 600; margin-bottom: 0;}
.round-grey-border{border-radius: 50%; border: solid 1px #e5e5e5; padding: 40px 20px 20px 41px; position: relative; text-align:left;}
.d-flex{display: flex; justify-content: space-around;}
.yellow-bg{background-color:#FBD54B; border-radius: 50%; border: solid 1px #e5e5e5; padding: 8px;position: absolute;
top: 11px; right: 8px;}
.fs-13{font-size: 13px;}
.fs-12{font-size: 12px;}
.round-grey-border{border-radius: 50%; border: solid 1px #e5e5e5; padding: 40px 20px 20px 41px; position: relative; text-align:left;
background-color: #2A6774;}
.white-text{color:#fff;}
.text-center{text-align: center;}
.social{
    width:20%
}
.position-bottom{position: absolute;  bottom: 10px; width:100%;}

/*Language Button css*/

.dropbtn {
    background: #314DBD;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: auto;
    padding: 0px 20px;
   // float: right;
    height:40px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}


.mt-0{margin-top: 0px;}
body{background-color: #fff !important;}
 @media only screen and (max-width: 768px) {
.display-desktop{
  display:none;
}
}
@media (min-width: 1024px) {
.display-mobile{
  display:none;
}
}