<nav class="navbar">

  <!-- logo -->
  <div class="navbar-brand">
  </div>
</nav>
<div class="full-page login-page ">
  <div class="content">
    <div class="container">

      <div class="col-lg-4 col-md-6 m-auto" style="text-align: -webkit-center;">


    


        <div class="card card-login card-white p-20">
          <div *ngIf="error" class="alert alert-danger" role="alert">
            <span>{{error}}</span>
          </div>
          <button class="google-button" type="button" (click)="doGoogleLogin()" expand="block">
              <img src="assets/img/google.png" width="20" height="20">
              <span class="pl-20">Login with Google</span></button>
     
          <button class="twitter-button" type="button" (click)="doTwitterLogin()" expand="block">
              <img src="assets/img/twitter.png" width="20" height="20">
               <span class="pl-20">Login with Twitter</span></button>
     
          <button class="email-button" type="button" [routerLink]="['/login-email']" expand="block">
              <img src="assets/img/email.png" width="20" height="20">
              <span class="pl-20">Login with Email</span></button>
      
          <button class="phone-button" type="button" [routerLink]="['/auth-phone']" expand="block">
              <img src="assets/img/phone.png" width="20" height="20">
              <span class="pl-20">Login with Phone No.</span></button>
      
          <button class="github-button" type="button" (click)="doGoogleLogin()" expand="block">
              <img src="assets/img/github.png" width="20" height="20">
              <span class="pl-20">Login with Github</span></button>
     
          <button class="apple-button" type="button" (click)="doAppleLogin()"  expand="block">
              <img src="assets/img/apple.png" width="20" height="20">
              <span class="pl-20">Login with Apple</span></button>
              <button class="facebook-button" type="button" (click)="doFbLogin()" expand="block">
                <img src="assets/img/facebook.png" width="20" height="20">
                 <span class="pl-20">Login with Facebook</span></button>
        
     
          <button class="email-button" type="button" [routerLink]="['/register']" expand="block">
              <img src="assets/img/email.png" width="20" height="20">
              <span class="pl-20">Signup with Email</span></button>        

      
      </div>


      </div>


    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>