/* You can add global styles to this file, and also import other style files */

*{font-family: 'Montserrat', sans-serif;}


body{font-family: 'Montserrat', sans-serif;}
.fileinput {
    display: inline-block;
    margin-bottom: 9px;
}
.fileinput[_ngcontent-evo-c22] input[_ngcontent-evo-c22] {
    display: none;
}

.fileinput .thumbnail.img-circle {
    border-radius: 50%;
    max-width: 100px;
}
.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    max-width: 250px;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
}
.circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color:#12A7CF;
    border-radius: 50%;
}
.li-position{
    display: inline-block;
    padding-right:10px;
}
.progress-inner{
    min-width: 15%;
    min-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px;
    border-radius: 5px !important;
}
.progress-outer{
    width: 96%;
    margin: 10px 2%;
    padding: 6px;
    background-color: #4e4e4e!important;
    border: 1px solid #4e4e4e!important;
    color: #fff;
    border-radius: 5px!important;
    text-align: center;
}

.card .card-header {
    padding: 15px 15px;
}

.pagination-previous{
    span{
        display:none;
    }
}
.pagination-next{
    span{
        display:none;
    }
}

.pagination pagination-controls .pagination-previous.disabled {
    display: inline-block;
    width: auto;
    text-align: center;
    float: left;
    padding: 8px 15px;
    text-decoration: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    background: #383b43;
    /* margin-left: 8px; */
    font-size: 23px;
}
.grey-bg{
    background-color: #293654 !important;  
}
.padding-10{
    padding: 10px 0px 0px 0px !important;
}
.close-button-position{
    position: absolute;
    right: 12px !important;  
    top: 12px !important; 
    color:#fff; 
}

.btn-replay{
    color: #fff;
    background: #F88800 !important;
    border-color: #F88800 !important;
    border-width: 2px;
    color:#fff !important;
}

/*@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: fixed;
      top: 100%;
      left: 0;
    }
    .main-panel .content {
     padding-left: 0px !important; 
}
.main-panel .content {
    padding: 40px 10px 30px 10px !important; 
}
  }*/
  /* @supports (-webkit-touch-callout: none) {
    // CSS specific to iOS devices  
    @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
        html {
          transform: rotate(-90deg);
          transform-origin: left top;
          width: 85vh;
          height: 100vw;
          overflow-x: hidden;
        position: fixed;
          top: 100%;
          left: 0;
        }
    }
    
 }
  @supports not (-webkit-touch-callout: none) {
    // CSS specific to non iOS devices  
    @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
        html {
          transform: rotate(-90deg);
          transform-origin: left top;
          width: 100vh;
          width: 100vh;
          height: 100vw;
          overflow-x: hidden;
         position: absolute;
          top: 100%;
          left: 0;
        }       
      }
    
  }
*/

// .modal-content .modal-footer {
//     border-top: 0;
//     -webkit-box-pack: justify;
//     justify-content: center;
// }

.blue-button{
        background-color: #5274E6;
    margin: 0px 10px;
    border-width: 2px;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.4285rem;
    cursor: pointer;
    box-shadow: none;
    color: #ffffff;
    padding: 7px;
} 

.p-10{padding: 10px 20px;} 

.btn-primary {
    background: #5274E6;
    background-image: -webkit-gradient(linear, right top, left bottom, from(#4464ce), color-stop(#4464ce), to(#5274E6));
    background-image: linear-gradient(to bottom left, #4464ce, #5274E6, #5274E6);
    background-size: 210% 210%;
    background-position: top right;
    background-color: #5274E6;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #ffffff;
    }

/*Side bar css*/
.sidebar .nav p{
  color:#141414;
}
.nav li.active > a:p{
  color:#141414;
}

