/* You can add global styles to this file, and also import other style files */

.fileinput {
    display: inline-block;
    margin-bottom: 9px;
}
.fileinput[_ngcontent-evo-c22] input[_ngcontent-evo-c22] {
    display: none;
}

.fileinput .thumbnail.img-circle {
    border-radius: 50%;
    max-width: 100px;
}
.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    max-width: 250px;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
}
.circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color:#12A7CF;
    border-radius: 50%;
}
.li-position{
    display: inline-block;
    padding-right:10px;
}
.progress-inner{
    min-width: 15%;
    min-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px;
    border-radius: 5px !important;
}
.progress-outer{
    width: 96%;
    margin: 10px 2%;
    padding: 6px;
    background-color: #4e4e4e!important;
    border: 1px solid #4e4e4e!important;
    color: #fff;
    border-radius: 5px!important;
    text-align: center;
}

.card .card-header {
    padding: 15px 15px;
}

.pagination-previous{
    span{
        display:none;
    }
}
.pagination-next{
    span{
        display:none;
    }
}

.pagination pagination-controls .pagination-previous.disabled {
    display: inline-block;
    width: auto;
    text-align: center;
    float: left;
    padding: 8px 15px;
    text-decoration: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    background: #383b43;
    /* margin-left: 8px; */
    font-size: 23px;
}


