<div class="content">
  <div class="row">
        <div class="col-12">
              <div class="card card-chart">
                    <div class="card-header">
                          <div class="row">
                                <div class="col-sm-6 text-left">
                               Home
                                </div>
                          </div>
                    </div>
                 </div>
        </div>
  </div>

  <div class="row" *ngFor="let item of videos | paginate: { itemsPerPage: 10, currentPage: p }">
        <div class="col-12">
              <div class="card card-chart">
                    <div class="card-header">
                          <div class="row">
                                <div class="col-sm-6 text-left">
                                      <!-- <h4 class="card-title">{{item.video}} </h4> -->
                                      <h4 class="card-category">{{item.date | date}}</h4>
                                </div>
                                <div class="col-sm-6 text-right">
                                  <button class="btn btn-outline btn-round" type="button"shape="round" (click)="play(item.url)">play</button>
                                  <button class="btn btn-outline btn-round" type="button"shape="round" (click)="delete(item)">Delete</button>
                                  <button class="btn btn-outline btn-round" type="button"shape="round" (click)="Share(item.url)">Share</button>
                                </div>
                          </div>
                    </div>
              </div>
        </div>
  </div>



  <div class="row">
        <div class= "pagination" style="padding-right: 15px; padding-left: 15px;">
            <div>
              <pagination-controls (pageChange)="p=$event"></pagination-controls>
          </div> 
        </div>
      </div>