.b-button{
    background-color: #314DBD;
    border-radius: 5px;
    border: none;
    height: 30px;
    /* position: relative; */
    /* overflow: hidden; */
    color: #ffffff;
    margin: 10px 10px 0px 10px;
}
.close{
    top: 2%;
    right: 2%;
}
.body-text{
    height:auto; background-color: #ffffff;
}