.b-button{
    background-color: #5274E6;
    border-radius: 2%;
    border: none;
    height: 35px;
    /* position: relative; */
    /* overflow: hidden; */
    color: #ffffff;
    margin: 10px;
}
.close{
    top: 2%;
    right: 2%;
}
.body-text{
    height:auto; background-color: #ffffff;
}