.b-button{
    background-color: #314DBD;
    border-radius: 5px;
    border: none;
    height: 30px;
    /* position: relative; */
    /* overflow: hidden; */
    color: #ffffff;
    margin: 10px 10px 0px 10px;
}
.close{
    top: 2%;
    right: 2%;
}
.body-text{
    height:auto; background-color: #ffffff;
}
.video{width: 100%; padding: 10px; height: auto; border-radius: 15px;}
.close-button-css{z-index:9999; color:#010101;}