.card-body
{
    padding-left:10px;
    padding-right: 10px; 
}
.fw-600{font-weight: 600;}
.text-center{text-align: center;}
/*.btn-blue{background-color: #5274E6;}*/
.btn{background-color: #5274E6; background-image: linear-gradient(to bottom left, #5274E6, #4f73ea, #5274E6);}
.btn:hover{background-color: #5274E6; background-image: linear-gradient(to bottom left, #5274E6, #4f73ea, #5274E6);}