.card-body
{
    padding-left:10px;
    padding-right: 10px; 
}
.fw-600{font-weight: 600;}
.text-center{text-align: center;}
.btn{background-color: #314DBD;background-image: none;border-radius: 19px;}
.btn:hover{background-color: #314DBD;background-image: none;}
.position-center{height: 90vh; align-items: center; justify-content: center; display: flex;}
