.blue-button{
	    background-color: #314DBD;
    text-align: center;
}
.close{
    top: 2%;
    right: 2%;
}
.title{
    color:#3C2836;
    text-align: center;

}
.card-div{
width: 100%;
text-align: center
}